Presentacion/Service References/LoggerService/JobLoggerService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55221/JobLoggerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Belatrix.Logger.Service.DTO" />
  <xs:import schemaLocation="http://localhost:55221/JobLoggerService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Belatrix.Logger.Transversal" />
  <xs:element name="SaveLogger">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Belatrix.Logger.Service.DTO" minOccurs="0" name="logger" nillable="true" type="q1:JobLoggerDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveLoggerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Belatrix.Logger.Transversal" minOccurs="0" name="SaveLoggerResult" nillable="true" type="q2:ResponseOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>