UnitTestProject1/Service References/LoggerService/JobLoggerService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Belatrix.Logger.Service.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Belatrix.Logger.Service.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="JobLoggerDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Configuration" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeMessage" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JobLoggerDTO" nillable="true" type="tns:JobLoggerDTO" />
</xs:schema>